@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://media-exp1.licdn.com/dms/image/C5612AQH5BhnA_7rDYQ/article-cover_image-shrink_720_1280/0/1574331011835?e=1628121600&v=beta&t=69RWfOPBGiMOA37SGnPjgVl--1FTBGIeiehqXXdrk2Y" alt="ProductMangement!" />
</div>
